#index_html { 
    background-color: rgb(0, 0, 44);
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    color: white; 
    text-shadow: 0 0 3px black;
    height: 100%;
    margin: 0;
}
#help_html { 
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-right: 150px;
}
div.tech_expand {
    position: absolute;
    width: 50%;
    height: 60px;
    z-index: 9;
    cursor: pointer;
}
div.tech {
    width: 550px;
    height: 60px;
    border: 0;
    border-bottom: 1px solid white;
    overflow-x: hidden; 
    overflow-y: hidden; 
    font-weight: normal;
}
table.tech {
    #margin-left: 1em;
}
div.screen {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 44, 0.5);
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: rgba(0, 0, 44, 1);
    text-align: center;
    transition: 0.5s;
}
div.overlay_message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: silver; 
    background-color: transparent;
    font-weight: bold; 
    text-shadow: 0 0 10px black, 0 0 15px white
}
div.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    background-color: rgba(0, 0, 44, 0.5);
    transition: 0.5s;
}
div.submenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding-left: 70px;
    transition: 0.5s;
}
div.toc {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 150px;
}
input {
    color: white;
    background-color: transparent;
}
input.vertical {
    transform: rotate(-90deg);
}
select {
    color: white;
    background-color: transparent;
}
img.button {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: 2px solid silver;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.6;
}
img.button_s {
    width: 25px;
    height: 25px;
}
ul {
    margin: 0;
    padding-left: 15px;
}
img.button:hover {
    background-color: silver;
    opacity: 1.0;
}
img.selected {
    background-color: white;
    opacity: 1.0;
}
a {
    color: cyan;
}
a:visited {
    color: magenta;
}
i.button {
    font-size: 200%;
    padding-right: 0; 
    cursor: pointer;
    transition-duration: 0.4s;
    opacity: 0.6;
}
i.button:hover {
    opacity: 1.0;
}
table {
    border: 0;
    border-collapse: collapse;
}
table.topbar {
    border: 2px solid silver;
    padding-left: 10px;
    padding-right: 10px;
}
caption {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 2px solid silver;
    padding-left: 5px;
    cursor: pointer;
    text-align: left;
    color: black;
    background-color: silver;
}
tr.collapse {
    display: none;
}
tr.slider_padding {
    height: 2em;
}
td {
    white-space: nowrap;
}
td.rows {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    color: silver;
}
td.tech_title {
    text-align: center;
}
td.tech_value {
    text-align: right;
}
input:disabled {
    color: white;
    background-color: transparent;
    border: 0;
}
input.tech_level {
    text-align: right;
    width: 1.7em;
    font-size: 100%;
}
textarea:disabled {
    color: white;
    background-color: transparent;
    border: 0;
}
.hfill {
    width: 100%;
    white-space: nowrap;
}
.vertical {
    writing-mode: sideways-lr;
}
.hide {
    display: none;
}
#race_editor_hab_gravity .noUi-connect {
    background: blue;
}
#race_editor_hab_temperature .noUi-connect {
    background: red;
}
#race_editor_hab_radiation .noUi-connect {
    background: green;
}
#race_editor_hab_gravity, #race_editor_hab_temperature, #race_editor_hab_radiation .noUi-connects {
    background: black;
}

i {
    font-style: normal;
    padding-right: 0.5em; 
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* Expand section */
div.fa-angle-double-up, div.fa-angle-double-down {
    width: 100%;
    border-top: 1px dotted silver;
    border-bottom: 1px dotted silver;
    padding: 2px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: silver;
    cursor: pointer;
}

/* Cost & Weight Fields */
i.fa-bolt {
    color: cyan;
}
i.fa-bolt:after {
    content: 'YJ';
}

i.ti:before {
    content: 'Ti ';
}
i.ti {
    color: dodgerblue;
}

i.li:before {
    content: 'Li ';
}
i.li {
    color: lightgreen;
}

i.si:before {
    content: 'Si ';
}
i.si {
    color: orange;
}

i.fa-weight-hanging {
    color: gray;
}

i.fa-luggage-cart {
    color: chocolate;
}

i.fa-free-code-camp {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    color: magenta;
}
i.fa-free-code-camp:after {
    content: '₥';
    border-top: 1px solid magenta;
}
i.fa-free-code-camp.vertical:after {
    border-top: 0;
    border-left: 1px solid magenta;
}

i.ti:after, i.li:after, i.si:after, i.fa-weight-hanging:after, i.fa-luggage-cart:after {
    content: 'kT';
}

/* Research Fields */
i.fa-react {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    color: cyan;
}
i.fa-bomb {
    color: red;
}
i.fa-tachometer-alt {
    color: white;
}
i.fa-wrench {
    color: silver;
}
i.fa-plug {
    color: yellow;
}
i.fa-seedling {
    color: green;
}

div.star {
    position: relative;
    background: white;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}
